body{
  margin: 2% 15%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #81aeab;
  font-family: sans-serif;
}
section,footer{
  display: flex;
  flex-direction: row;
}

header{
  padding: 1% 0;
}

header h1{
  font: 40px/52px Colaborate-RegularRegular, "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin:0;
  color:#d61716;
}

header h2{
  font: 14px/20px Colaborate-RegularRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #eee;
  margin:0;
}


nav{
  display: block;
  margin: 1% 0;
  height: 3%;
  background: linear-gradient(to bottom, #d61716 0%,#a01616 100%);
  box-shadow: 0 0 7px 0 #0C5944;
}


nav>div{
  margin: 0 auto;
  text-align: center;
  display:block;
}

nav>div>div{
  display: inline-block;
  position: relative;
}


nav a{
  text-decoration: none;
  color: white;
  font: 14px sans-serif;
  text-transform: uppercase;
}

nav>div>div{
  height: 100%;
  padding: 1% 2%;
}


nav>div>div:hover{
  background-color: #a01616;
  box-shadow: 1px 2px 3px 0px #690e0e inset;
}

.submenu{
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: absolute;
  top:100%;
  left:0;
  visibility: hidden;
  transform-origin: 0% 0%;
  transform: scaleY(0);
  transition: .2s linear;
  background-color: #a01616;
  width: 100%;
  box-sizing: content-box;
  z-index: 1;
  border-radius: 0 0 10px 10px ;
}

.submenu a{
  display: block;
  padding: 5%;
}

.submenu a:last-child{
  border-radius: 0 0 10px 10px ;
}

#sub:hover .submenu{
  transform: scaleY(1);
  visibility: visible;
  opacity: 1;
}

.submenu a:hover{
  box-shadow: 3px 4px 7px 3px #690e0e inset;
}


aside{
  width: 36%;
  margin: 2% 0;
  height: 40%;
}

main{
  width: 66%;
  margin: 2%;
  margin-left: 0;
}

main>div,aside>div,footer>div,nav{
  border-radius: 20px;
}

main>div,aside>div,footer>div{
  background-color: rgb(234, 239, 245);
  padding: 3%;
}

footer>div{
  padding:2%;
  width: 32%;
}

aside>div{
  padding: 5%;
  height: 62%;
}

main>div:first-child,main>div:nth-child(2n){
  margin-bottom: 3%;
}

footer{
  align-items: stretch;
}

footer>div:not(footer>div:last-child){
  margin-right: 2%;
}

.arthead{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
  margin-bottom: 2%;
  background: linear-gradient(to bottom, #0081ac 0%,#1e5799 100%);
  color:#eee;
}

.arthead *{
  padding: 1%;
}

.arthead div:first-child{
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 1% 2%;
  font-size: 15px;
  background-color: #195875;
	background-color: rgba(126, 0, 0, 0.2);
	border-right: 1px solid #600;
	border-right-color: #024a62;
	border-right-color: rgba(0, 72, 96, 0.9);
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
	-moz-box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);

}


.arthead div:first-child span:first-child{
  writing-mode: vertical-lr; 
  text-orientation: sideways;
  text-align: center;
  transform: rotate(180deg);
  margin-right: 10%;
}

.arthead div:first-child span:last-child{
  text-align: center;
  margin-right: 10%;
}

.arthead div:last-child{
  border-radius:10px;
  align-self: stretch;
  text-align: center;
  font-size: 20px;
  padding: 2%;
  width: 7%;
  background-color: #970000;
	background-color: rgba(151, 0, 0, 0.4);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);

}

.arthead div:nth-child(2n){
  flex-grow:1;
  font-size: 200%;
  vertical-align: text-bottom;
  padding: 1% 2%;
}

.maintext{
  font: italic 14px sans-serif;
  hyphens: auto;
  line-height: 1.5em;
}

.infoNcontin{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.artinfo,.tags{
  flex-grow: 1;
}

.artinfo span:first-child,.tags span:first-child{
  font-style: italic;
}

.artinfo span:first-child::after,.tags span:first-child::after{
  content: ":";
}

.authors{
  font-style: italic;
  font-weight: bold;
}

.tags{
  margin-top: 1%;
}

div.tags>span:not(div.tags>span:first-child)>a{
  font-style: normal;
  text-transform: uppercase;
  color: #a01616;
  padding:0 2%;
  border-radius: 3px;
  text-decoration: none;
}

div.tags>span:not(div.tags>span:first-child)>a:hover{
  box-shadow: 0 3px 2px 1px #024a62;
}

.cont_button{
  position: relative;
  text-align: center;
  width: 30%;
}

.cont_button div{
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 8%;
  height: 100%;
  z-index: 1;
  border-radius: 0 7px 7px 0;
  background-color: rgb(234, 239, 245);
}

.cont_button button{
  width: 100%;
  height: 100%;
  padding-left: 10%;
  background: linear-gradient(to bottom, #d61716 0%,#a01616 100%);
  color: white;
  border: none;
  border-radius: 7px;
}

.cont_button button a{
  display: inline-block;
  padding: 8% 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  text-decoration: none;
  color:white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.cont_button button:hover{
  background: #a01616;
  box-shadow: 1px 3px 4px 0px #690e0e inset;
}

.blockhead{
  background: linear-gradient(to bottom, #0081ac 0%,#1e5799 100%);
  display: block;
  padding: 3%;
  margin-bottom: 5%;
  border-radius: 10px;
  color:white;
  font-size: 18px;
}

aside>div>div:first-child{
  margin-bottom: 10%;
}

.amount{
  display: flex;
  flex-direction: row;
  margin: 4% 0;
  box-sizing: border-box;
  border:1px solid rgb(184, 182, 182);
  border-radius:7px 5px 5px 7px;
  background-color: white;
}

.amount span{
  font-style: italic;
  flex-grow: 1;
  padding: 2%;
}

.amount span span{
  color:#a01616;
}

.amount .nums1,.amount .nums2{
  box-sizing: content-box;
  width: 15%;
  padding: 2% 5%;
  text-align: center;
  border-radius: 5px ;
  color: white;
}

.nums1{
  background-color: rgb(66, 182, 236);
}

.nums2{
  background-color: rgb(236, 182, 66);
}

.nums1,.nums2{
	color:white;
	font-weight: bold;
}

.qu1{
  background: linear-gradient(to bottom, #0081ac 0%,#1e5799 100%);
  border-radius: 10px;
  padding:5%;
  margin-top: 10%;
  color:white;
  font-size: 22px;
  text-align: center;
  font-style: italic;
}

.qu1 blockquote{
  margin: 0;
	padding: 10% 0;
}

.qu2{
  width: 100px;
  height: 30px;
  background-color: #1e5799;
  margin-left: 1%;
  border-radius: 0 0 90% 0;
}

.qu2>div{
  width: 70%;
  height: 100%;
  background-color: rgb(234, 239, 245);
  border-radius: 0 15px 15px 0;
}

.qu3{
  color: #a01616;
  font-size: 16px;
}

.qu3::before{
  content:"@ "
}

.topic{
  display: block;
  padding-top: 3%;
  color: #a01616;
  border-bottom: 1px solid #0873a5;
  font:italic 18px sans-serif;
}

.comment{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #0873a5;
  margin-bottom: 2%;
}

.comment span:first-child{
  display: block;
  color:#a01616;
  line-height: 1.7em;
  font-style: italic;
  font-size: 12px;
}

.comment span:last-child{
  display: inline;
  align-self: flex-end;
  font-style: italic;
  font-size: 11px;
}



.rights{
  margin-top: 2%;
  padding: 2%;
  text-align: center;
  font-size: 11px;
}

.rights span{
	font-weight: bold;
}